<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="../CSS/sunflower.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<a href="http://github.com/enlightenedstructure/Enlightened_Structure"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
<div id="header">
	<div id="site_name"><a href="../Enlightened_Structure">Enlightened Structure</a></div>
	<p> an open source startup</p>
</div>
<div id="page">
	<div id="content">
    <h1>{{ page.title }}</h1>     
    <div class="byline"> &nbsp;This remix by H@rlan Knight Wood</div>
    {{ content }}
	</div>                                   

	<!-- start sidebar -->
	<div id="sidebar">
		<ul>
			<li>
				<ul>
  				<li><script type="text/javascript" language="javascript">
            <!--
            // Email obfuscator script 2.1 by Tim Williams, University of Arizona
            // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
            // This code is freeware provided these four comment lines remain intact
            // A wizard to generate this code is at http://www.jottings.com/obfuscator/
            { coded = "BwhH@w4vqV9Bw4w26B73IB37w.IgH"
              key = "f9P6vaHw8dZSYIyUR4pVE0roOuGXA1itNLhxsl2mezQkFJcMjTn7gb35KDCqBW"
              shift=coded.length
              link=""
              for (i=0; i<coded.length; i++) {
                if (key.indexOf(coded.charAt(i))==-1) {
                  ltr = coded.charAt(i)
                  link += (ltr)
                }
                else {     
                  ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                  link += (key.charAt(ltr))
                }
              }
            document.write("<a href='mailto:"+link+"'>Contact Us</a>")
            }
            //-->
            </script><noscript>Sorry, you need Javascript on to email me.</noscript></li>
					<li><a href="http://github.com/enlightenedstructure/Enlightened_Structure">Fork this site on Github</a></li>
					<li><a href="#">View website template</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->
	
</div>
<div id="footer">       
  <p>
    You are free to copy, share, modify, and remix this work, for free or for profit, <br />
    on the condition that you attribute this page as a source 
    (or <a href="http://github.com/enlightenedstructure/Enlightened_Structure">fork it on GitHub</a>), <br />
    and share any copies and remixes under the same
    <a rel="license" target="_blank" 
      href="http://creativecommons.org/licenses/by-sa/3.0/us/">Creative Commons licence</a>. <br />
    <br />
  </p>
</div>

<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
Name       : Sun Flower
Description: A two-column, fixed-width design.
Version    : 1.0
Released   : 20070923
-->

</body>
</html>
