<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="CSS/sunflower.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="header">
	<div id="site_name"><a href="Enlightened_Structure">Enlightened Structure</a></div>
	<p> an open source startup</p>
</div>
<div id="page">
	<div id="content">
    <h1>{{ page.title }}</h1>

    {{ content }}

    <a href="http://github.com/enlightenedstructure/Enlightened_Structure"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

    <hr />
    <p>
      I agree that others are free to copy, share, modify, and remix this work, 
      for free or for profit,
      on the condition that they attribute this page as a source, 
      and share any copies and remixes under the same 
      <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/us/">Creative 
        Commons licence</a>.  
    </p>

	</div>
	<div id="sidebar">
		<ul>
			<li>
				<h2>Projects</h2>
				<ul>
					<li><a href="Trust_Exchange">The Trust Exchange</a></li>
          <li><a href="WikiNodes">WikiNodes</a></li>
					<li><a href="Corporation_in_a_Box">Corporation in a Box</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div id="footer">
  <p><a href="http://www.freecsstemplates.org/preview/sunflower">This website template</a> is available under a creative commons license.</p>
</div>
</body>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Sun Flower
Description: A two-column, fixed-width design.
Version    : 1.0
Released   : 20070923
-->
</html>
